.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.pdf
*.docx
scripts/MonetDBLite-master/*
h2ologs/*
data/*
*.log
2014_15_report_cache/*
*.xlsx
.ipynb_checkpoints/*
*.Rproj
R/**/*cache/*
graphs/*
*~
*.swp
R/Revision/biowulf/data/*
R/Revision/biowulf/R/*
R/Revision/biowulf/lib/*
R/Revision/biowulf/output/*
R/Revision/biowulf/R_local/*
R/Revision/local/*
R/Revision/local/output/*

